body {
    background-color: yellowgreen;
    text-align: center;
    padding: 20px;
    margin: 10px 10px 10px 10px;
  }
  .kader{
          background-color: rgb(28, 46, 46);
  }
  div.border{
    border-style:double;
    padding-top:5px;
    padding-bottom:5px;
    border-color:#0e4b5a;
    border-top-width:14px;
    border-bottom-width:16px;
    border-left-width:8px;
    border-right-width:6px;
  }
  /* text */
  .iets{color:rgb(206, 92, 92)}
  .iets2{color:rgb(97, 7, 7)}

  h1{
        border-width:5px;  
        border-style:ridge;
    
  }

  h1, h2 {
      font-size: 2.5em;
      color: chocolate;
      font-weight: strong;
  }
  h3{
      font-size: 2em;
      color: rgb(211, 19, 19);
  }
  p {
      color: blueviolet;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: strong;
    text-decoration: underline;
  }
/* lijst */

  ul,li{
      text-align: left;
      margin-left: 38%;
      width: 350px;
      color:cyan;
      padding: 0px 0px 0px 10px;
      margin-bottom: 25px;
      text-shadow: 3px 3px blue;
      font-size: 23px;
  }

  /* image */

  .img1{
      float: left;
      margin-left: 14px;
      margin-top: 97px;
      margin-right: -380px;
  }
  .img2{
    float: right;
    position: absolute;
    margin-top: 97px;
    margin-right: -380px;
    margin-left: 272px;

}


/* link style */
  a:link {
    color: green;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: hotpink;
    font-size: 30px;
  }
  
  a:active {
    color: blue;
  }
/* navbar */

.topnav {
    overflow: hidden;
    background-color: rgb(19, 36, 54);
    margin-top: -5px;
  }
  .topnav{
      padding-left: 33%;

  }
  .topnav a {
    float: left;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:yellowgreen;
    color: white;
  }